{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis dignissimos, ea esse ex explicabo hic maiores nemo nobis obcaecati optio pariatur quam quasi quisquam tempora tempore temporibus vero. Ratione?
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae doloremque dolores est et eum explicabo laborum nam neque similique tenetur? Architecto dolorum enim est molestias praesentium qui quo reprehenderit temporibus.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis consequuntur corporis cum delectus dignissimos eius eum exercitationem hic impedit maxime nobis, non optio possimus quibusdam quidem quisquam, sint tenetur?
    </p>
</div>

<h2>Comments ({{ comments|length }})</h2>

<ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
</ul>
{% endblock %}